body {
    margin: 0;
    padding: 0;
}






.jumbotron-fluid {
        margin: 0;
        padding: 10px;
        background-color: #2e2787;
        color: white; 
}


.searching{
    padding-top: 15px;
    margin-left: 30px;
    margin-bottom: 25px;
   
}

#searchButton {
    margin: -9px !important;
    padding: 8px;
    width: 80%;
    border-radius: 7px;
    text-align: left;
    font-family: "playfair Display", serif
}

.searching #button{
    
    padding: 8px;
    width: 45px;
    border-radius: 7px;
    background-color: #b2beb5;;
}



.sub{
    position: absolute;
    bottom : 10px;
    right: 90px;
    font-size: 20px;
}

.lb{
    position: absolute;
    bottom : 10px;
    right: 0px;
    font-size: 20px;
}

.navbar{
    background-color: #0f1111;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #5637DD;

}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.factual {
    margin-top: 3%;
}

h1, h2, h3 {
    font-family: "meriweather", sans-serif;

    
}

.factual h1{
    font-size: 40px;
    background-color: #0f1111 ;
    width: 100p;
    color: #ffffff;
    border: 5px solid #2e2787;
    Text-align: center;

}

.carousel-item img {
    width: 100%;
    height: 500px
}

.mandela1, .mandela2 {
    margin-top: 3%;
}


.mandela1.5{
    width: 78px;
    height: 45px;
}

.mandela2 {
    line-height: 2.5
}

.site-footer {
    background: #0f1111;
    padding: 10px 0;
    color: #ffffff;

}

.site-footer a{
    color: #ffffff;
}

.list-unstyled a {
    display: inline;
    
}

table{
    margin: 0 auto;
}

.tablehead {
    background-color: #0f1111;
    border-bottom: 3px solid #5637DD;
}

.tablefoot {
    background-color: #0f1111;
    border-top: 3px solid #5637DD;
}
}


.table-heading {
    font-style: italic;
}















































































































